/*! Pages */
// ===========================================================================================

.noslider {
    margin: 0;
    padding: 0;
    background: #dcedff;
    position: relative;
    zoom: 1;
}

.noslider .single-img {
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.noslider .single-img.bg-img-1 {
    background-image: url(../images/slide3.jpg);
}

.noslider .single-img.bg-img-2 {
    background-image: url(../images/slide1.jpg);
}


/* Wrapper */
.page-wrapper {
    padding: 0;
}


/* Spotlight */
.spotlight {
    background: @grey;
    border-top: 1px solid @grey-darker;
    border-bottom: 1px solid @grey-darker;
    
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.spotlight:nth-child(2n) {
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

.spotlight .image {
    -moz-order: 1;
    -webkit-order: 1;
    -ms-order: 1;
    order: 1;
    border-radius: 0;
    width: 50%;
}

.spotlight .image img {
    display: block;
    border-radius: 0;
    width: 100%;
    height: auto;
    margin-top: 0;
}

.spotlight .container {
    padding: 0;
    -moz-order: 2;
    -webkit-order: 2;
    -ms-order: 2;
    order: 2;
    max-width: 48em;
    width: 50%;
    color: @black;
}

.spotlight .container .content {
    padding: 2em 4em 0.1em 10%;
}

.spotlight h2 {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.spotlight h3 {
    color: #7f7c7c;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 2;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.spotlight p {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    padding-bottom: 40px;
}

@media screen and (max-width: 980px) {

    .spotlight {
        display: block;
    }

    .spotlight br {
        display: none;
    }

    .spotlight .image {
        width: 100%;
    }

    .spotlight .container {
        max-width: none;
        text-align: center;
        width: 100%;
    }
    
    .spotlight .container .content {
        padding: 4em 2em 2em 2em;
    }

}

@media screen and (max-width: 1024px) {
    .spotlight h2 {
        font-size: 24px;
    }
    
    .spotlight p {
        font-size: 16px;
        line-height: 1.8;
    }
}


/*  After Section  */
.after {
    display: block;
    text-align: center;
    padding-top: 0;
    margin-bottom: 0;
}

.after h2 {
    color: #7f7c7c;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 2;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.after p {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    padding-bottom: 40px;
}


/* Slider */
.flexslider-page .flex-control-nav {
    bottom: auto;
    text-align: left;
    margin: -2em auto auto 0.250em;
    width: auto;
    z-index: 9;
}


/* Webcam */
.webcam-wrapper {
    margin: 3em auto;
}

#webcam-img {
    width: 100%;
    max-width: 900px;
    height: auto;
}


/* Page Gallery */
.gallery {
    margin: 4em auto;
}

.thumbnail {
    display: inline-block;
    margin: 0.150em;
}


/* Page 404 */
.notfound {
    margin: 0;
    background: url('../images/bg-404.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 3px solid @white;
}

.notfound h1 {
    font-weight: 700;
    color: @white;
}

.notfound h2 {
    font-weight: 400;
    margin-top: 5px;
}

.notfound h2 a {
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid @white;
    .transition03;
}

.notfound h2 a:hover,
.notfound h2 a:focus {
    border-bottom-color: transparent;
}

svg#compassrose {
  width: 40%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin: 2em auto;
  border-radius: 50%;
}

#roseline, #majline {
  stroke: #eee;
  stroke-width: .75;
}

text {
  font-family: 'Lato', sans-serif;
  font-size: 10;
  fill: #eee;
}

@media (max-width: 1024px) {
    svg#compassrose {
        width: 80%;
    }
}
