/*! Plugins */
// ==========================================================================

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    display: none;
    float: right;
    padding: 0 1px;
    cursor: pointer;
    transition-property: opacity, -webkit-filter;
    transition-property: opacity, filter;
    transition-property: opacity, filter, -webkit-filter;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    font: inherit;
    color: inherit;
    text-transform: none;
    background-color: transparent;
    border: 2px solid #353434;
    margin: 23px 2px 0 0;
    overflow: visible; }

.hamburger:hover {
    //opacity: 0.7;
}

.hamburger-box {
    width: 29px;
    height: 29px;
    display: inline-block;
    position: relative;
}

.hamburger-inner {
    display: block;
    top: 50%;
    left: 18%;
    margin-top: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    width: 18px;
    height: 2px;
    background-color: #353434;
    border-radius: 2px;
    position: absolute;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
}

.hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block;
}

.hamburger-inner::before {
    top: -5px;
}

.hamburger-inner::after {
    bottom: -5px;
}

/*
 * Arrow Right
 */
.hamburger--arrow-r.is-active .hamburger-inner::before {
    -webkit-transform: translate3d(5px, 2px, 0) rotate(45deg) scale(0.6, 1);
    transform: translate3d(5px, 2px, 0) rotate(45deg) scale(0.6, 1);
}

.hamburger--arrow-r.is-active .hamburger-inner::after {
    -webkit-transform: translate3d(5px, -2px, 0) rotate(-45deg) scale(0.6, 1);
    transform: translate3d(5px, -2px, 0) rotate(-45deg) scale(0.6, 1);
}



/*************************************************
 * jQuery FlexSlider v2.6.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 and later license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 *
 **************************************************/


/* FlexSlider Necessary Styles
*********************************/
.flexslider {
    margin: 0;
    padding: 0;
    background: #dcedff;
    position: relative;
    zoom: 1;
}

.flexslider .slides > li {
    display: none;
    -webkit-backface-visibility: hidden;
    height: ~"calc(100vh + 100px)";
}

.touch .flexslider .slides > li {
    height: 100vh;
}

.flexslider .slides > li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.flexslider .slides > li:first-of-type {
    background-image: url(../images/slide1.jpg);
}

.flexslider .slides > li:nth-of-type(2) {
    background-image: url(../images/slide2.jpg);
}

.flexslider .slides > li:nth-of-type(3) {
    background-image: url(../images/slide3.jpg);
}

.flexslider .slides > li:nth-of-type(4) {
    background-image: url(../images/slide4.jpg);
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
    width: 100%;
    height: 100vh;
    display: block;
}

.flex-pauseplay span {
    text-transform: capitalize;
}

/* Clearfix for the .slides element */
.slides:after {
    content: "\0020";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

html[xmlns] .slides {
    display: block;
}

* html .slides {
    height: 1%;
}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block;
}


/* Next/prev arrows */
.flex-direction-nav {
  *height: 0;
}
.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 80px;
  height: 80px;
    line-height: 80px;
    font-size: 0;
  margin: -40px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.flex-direction-nav a:before {
  /*font-family: "flexslider-icon";*/
  font-size: 80px;
  display: inline-block;
  content: '‹';
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
.flex-direction-nav a.flex-next:before {
  content: '›';
}
.flex-direction-nav .flex-prev {
  left: -50px;
}
.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right;
}
.flexslider-square:hover .flex-direction-nav .flex-prev {
  opacity: 0.7;
  left: 10px;
}
.flexslider-square:hover .flex-direction-nav .flex-prev:hover {
  opacity: 1;
}
.flexslider-square:hover .flex-direction-nav .flex-next {
  opacity: 0.7;
  right: 10px;
}
.flexslider-square:hover .flex-direction-nav .flex-next:hover {
  opacity: 1;
}
.flex-direction-nav .flex-disabled {
  opacity: 0!important;
  filter: alpha(opacity=0);
  cursor: default;
  z-index: -1;
}



/****************************************************************
* CUSTOM SELECT ELEMENT
* http://tympanus.net/Development/SelectInspiration/index8.html
*****************************************************************/
/* Default custom select styles */

div.cs-select:focus {
	outline: none; /* For better accessibility add a style for this in your skin */
}

.cs-select > span::after,
.cs-select .cs-selected span::after {
	speak: none;
}

div.cs-active {
	z-index: 200;
}

/* Options */
.cs-select .cs-options {
	position: absolute;
	overflow: hidden;
	visibility: hidden;
    z-index: 99;
}

.cs-select.cs-active .cs-options {
	visibility: visible;
}

.cs-select ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.cs-select ul span {
	padding: 1em;
}

.cs-select ul li.cs-focus span {
	background-color: #ddd;
}

.cs-skin-circular > span {
	background: transparent;
    cursor: pointer;
    position: relative;
    z-index: 999;
    
    transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

@media screen and (max-width: 30em) {
	.cs-skin-circular > span { 
        //width: 80px; 
        height: 80px;
    }
}

.cs-skin-circular > span::after {
    transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.cs-skin-circular.cs-active > span::after {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}

.cs-skin-circular > span[style]::after {
	content:'';
}

.cs-skin-circular .cs-selected span::after {
	content: '';
}

.cs-skin-circular.cs-active > span {
    background-color: rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.cs-skin-circular .cs-options {
	top: 0;
	overflow: visible;
	font-size: 50%;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity 0.3s, visibility 0s 0.3s;
	transition: opacity 0.3s, visibility 0s 0.3s;
}

.cs-skin-circular.cs-active .cs-options {
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.cs-skin-circular .cs-options ul,
.cs-skin-circular .cs-options li  {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cs-skin-circular .cs-options li a {
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(53, 52, 52, 1);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	border-radius: 0;
	cursor: pointer;
	pointer-events: auto;
    background-color: rgba(255, 255, 255, 1);
	background-repeat: no-repeat;
	background-position: 50% 50%;
    background-size: 20px 20px;
    
    -webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
}

.cs-skin-circular.cs-active .cs-options li a {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.cs-skin-circular .cs-options li:first-child a {
    background-image: url(../images/social-facebook.svg);
}

.cs-skin-circular .cs-options li:nth-child(2) a {
    background-image: url(../images/social-twitter.svg);
}
.cs-skin-circular .cs-options li:nth-child(3) a {
    background-image: url(../images/social-pinterest.svg);
}

.cs-skin-circular .cs-options li:nth-child(4) a {
    background-image: url(../images/social-instagram.svg);
}

.cs-skin-circular.cs-active .cs-options li:first-child a {
	-webkit-transform: translate3d(10px, -50px, 0);
	transform: translate3d(10px, -50px, 0);
    -webkit-transition-delay: .3s;
    transition-delay: .3s;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(2) a {
	-webkit-transform: translate3d(60px, -50px, 0);
	transform: translate3d(60px, -50px, 0);
    -webkit-transition-delay: .2s;
    transition-delay: .2s;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(3) a {
	-webkit-transform: translate3d(110px, -50px, 0);
	transform: translate3d(110px, -50px, 0);
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}

.cs-skin-circular.cs-active .cs-options li:nth-child(4) a {
	-webkit-transform: translate3d(160px, -50px, 0);
	transform: translate3d(160px, -50px, 0);
}

.cs-skin-circular .cs-options li span {
	display: none;
}

.cs-skin-circular .cs-options li.cs-focus {
	background-color: transparent;
	opacity: 0.7;
}

@media (max-width: 960px) {
    .cs-skin-circular.cs-active .cs-options li:nth-child(2) a {
        -webkit-transform: translate3d(10px, -100px, 0);
        transform: translate3d(10px, -100px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(3) a {
        -webkit-transform: translate3d(10px, -150px, 0);
        transform: translate3d(10px, -150px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(4) a {
        -webkit-transform: translate3d(10px, -200px, 0);
        transform: translate3d(10px, -200px, 0);
    }
}

@media (max-width: 660px) {
    .cs-skin-circular.cs-active .cs-options li:first-child a {
        -webkit-transform: translate3d(10px, -220px, 0);
        transform: translate3d(10px, -220px, 0);
    }
    
    .cs-skin-circular.cs-active .cs-options li:nth-child(2) a {
        -webkit-transform: translate3d(60px, -220px, 0);
	transform: translate3d(60px, -220px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(3) a {
        -webkit-transform: translate3d(110px, -220px, 0);
        transform: translate3d(110px, -220px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(4) a {
        -webkit-transform: translate3d(160px, -220px, 0);
        transform: translate3d(160px, -220px, 0);
    }
}

@media (max-width: 600px) {
    .cs-skin-circular.cs-active .cs-options li:first-child a {
        -webkit-transform: translate3d(10px, -120px, 0);
        transform: translate3d(10px, -120px, 0);
    }
    
    .cs-skin-circular.cs-active .cs-options li:nth-child(2) a {
        -webkit-transform: translate3d(60px, -120px, 0);
	transform: translate3d(60px, -120px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(3) a {
        -webkit-transform: translate3d(110px, -120px, 0);
        transform: translate3d(110px, -120px, 0);
    }

    .cs-skin-circular.cs-active .cs-options li:nth-child(4) a {
        -webkit-transform: translate3d(160px, -120px, 0);
        transform: translate3d(160px, -120px, 0);
    }
}





/****************************************************************
* Unslider
* http://unslider.com/
*****************************************************************/
.unslider {
    overflow: visible;
    margin: 0;
    padding: 0;
}

.unslider-wrap {
    position: relative;
}

.unslider-wrap.unslider-carousel > li {
    float: left;
}

.unslider-vertical > ul {
    height: 100%;
}

.unslider-vertical li {
    float: none;
    width: 100%;
}

.unslider-fade {
    position: relative;
    min-height: 160px;
}

.unslider-fade .unslider-wrap li {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 8;
}

.unslider-fade .unslider-wrap li.unslider-active {
    z-index: 10;
}

.unslider li,
.unslider ol,
.unslider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.unslider-arrow {
    position: absolute;
    left: 20px;
    z-index: 2;
    cursor: pointer;
}

.unslider-arrow.next {
    left: auto;
    right: 20px;
}

/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider-nav ol {
    list-style: none;
    text-align: center;
    margin-top: 50px;
}

.unslider-nav ol li {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 8px;
    background: rgba(53, 52, 52, 0.5);
    border-radius: 50%;
    overflow: hidden;
    text-indent: -999em;
    border: 2px solid #fff;
    cursor: pointer;
    
    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
	transition: transform 0.3s ease, background-color 0.3s ease;
}

.unslider-nav ol li:hover,
.unslider-nav ol li:focus {
    background: rgba(53, 52, 52, 0.7);
}

.unslider-nav ol li.unslider-active {
    background: rgba(53, 52, 52, 0.9);
    cursor: default;
    
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}



/*! Hint.css (base version) - v2.2.0 - 2016-03-08
* http://kushagragour.in/lab/hint/
* Copyright (c) 2016 Kushagra Gour; Licensed  */

/*-------------------------------------*	HINT.css - A CSS tooltip library
\*-------------------------------------*/
/**
 * HINT.css is a tooltip library made in pure CSS.
 *
 * Source: https://github.com/chinchang/hint.css
 * Demo: http://kushagragour.in/lab/hint/
 *
 * Release under The MIT License
 *
 */
/**
 * source: hint-core.scss
 *
 * Defines the basic styling for the tooltip.
 * Each tooltip is made of 2 parts:
 * 	1) body (:after)
 * 	2) arrow (:before)
 *
 * Classes added:
 * 	1) hint
 */
[data-hint] {
    position: relative;
    display: inline-block;
}
  /**
	 * tooltip arrow
	 */
  /**
	 * tooltip body
	 */
[data-hint]:before, [data-hint]:after {
    position: absolute;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: hidden;
    opacity: 0;
    z-index: 1000000;
    pointer-events: none;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    transition: 0.3s ease;
    -webkit-transition-delay: 0ms;
    -moz-transition-delay: 0ms;
    transition-delay: 0ms;
}

[data-hint]:hover:before, [data-hint]:hover:after {
    visibility: visible;
    opacity: 1;
}

[data-hint]:hover:before, [data-hint]:hover:after {
    -webkit-transition-delay: 100ms;
    -moz-transition-delay: 100ms;
    transition-delay: 100ms;
}

[data-hint]:before {
    content: '';
    position: absolute;
    background: transparent;
    border: 6px solid transparent;
    z-index: 1000001;
}

[data-hint]:after {
    content: attr(data-hint);
    background: #353434;
    color: white;
    padding: 8px 10px 12px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    white-space: nowrap;
}

[data-hint='']:before, [data-hint='']:after {
  display: none !important; }

/**
 * source: hint-position.scss
 *
 * Defines the positoning logic for the tooltips.
 *
 * Classes added:
 * 	1) hint--top
 * 	2) hint--bottom
 * 	3) hint--left
 * 	4) hint--right
 */
/**
 * set default color for tooltip arrows
 */
.hint--top:before {
    border-top-color: #353434;
}


/**
 * top tooltip
 */
.hint--top:before {
    margin-bottom: -12px;
}

.hint--top:before,
.hint--top:after {
    bottom: 100%;
    left: 50%;
}

.hint--top:after, .hint--top:before {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.hint--top:hover:after,
.hint--top:hover:before,
.hint--top:focus:after,
.hint--top:focus:before {
    -webkit-transform: translateX(-50%) translateY(-8px);
    -moz-transform: translateX(-50%) translateY(-8px);
    transform: translateX(-50%) translateY(-8px);
}

/**
 * source: hint-sizes.scss
 *
 * Defines width restricted tooltips that can span
 * across multiple lines.
 *
 * Classes added:
 * 	1) hint--small
 * 	2) hint--medium
 * 	3) hint--large
 *
 */
.hint--small:after,
.hint--medium:after,
.hint--large:after {
    white-space: normal;
    line-height: 1.4em;
}

.hint--small:after {
    width: 80px;
}

.hint--medium:after {
    width: 150px;
}

.hint--large:after {
    width: 300px;
}



/*! Swipebox v1.3.0 | Constantin Saguin csag.co | MIT License | github.com/brutaldesign/swipebox */
html.swipebox-html.swipebox-touch {
  overflow: hidden !important;
}

#swipebox-overlay img {
  border: none !important;
}

#swipebox-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999 !important;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#swipebox-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#swipebox-slider {
  -webkit-transition: -webkit-transform 0.4s ease;
          transition: transform 0.4s ease;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  white-space: nowrap;
  position: absolute;
  display: none;
  cursor: pointer;
}
#swipebox-slider .slide {
  height: 100%;
  width: 100%;
  line-height: 1px;
  text-align: center;
  display: inline-block;
}
#swipebox-slider .slide:before {
  content: "";
  display: inline-block;
  height: 50%;
  width: 1px;
  margin-right: -1px;
}
#swipebox-slider .slide img,
#swipebox-slider .slide .swipebox-video-container,
#swipebox-slider .slide .swipebox-inline-container {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  vertical-align: middle;
}
#swipebox-slider .slide .swipebox-video-container {
  background: none;
  max-width: 1140px;
  max-height: 100%;
  width: 100%;
  padding: 5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
  position: relative;
}
#swipebox-slider .slide .swipebox-video-container .swipebox-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}
#swipebox-slider .slide-loading {
  background: url(../images/loader.gif) no-repeat center center;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  -webkit-transition: 0.5s;
          transition: 0.5s;
  position: absolute;
  left: 0;
  z-index: 999;
  height: 50px;
  width: 100%;
}

#swipebox-bottom-bar {
  bottom: -50px;
}
#swipebox-bottom-bar.visible-bars {
  -webkit-transform: translate3d(0, -50px, 0);
          transform: translate3d(0, -50px, 0);
}

#swipebox-top-bar {
  top: -50px;
}
#swipebox-top-bar.visible-bars {
  -webkit-transform: translate3d(0, 50px, 0);
          transform: translate3d(0, 50px, 0);
}

#swipebox-title {
  display: block;
  width: 100%;
  text-align: center;
}

#swipebox-prev,
#swipebox-next,
#swipebox-close {
  background-image: url(../images/icons.svg);
  background-repeat: no-repeat;
  border: none !important;
  text-decoration: none !important;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: 0;
}

#swipebox-arrows {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 50px;
}

#swipebox-prev {
  background-position: -32px 13px;
  float: left;
}

#swipebox-next {
  background-position: -78px 13px;
  float: right;
}

#swipebox-close {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 9999;
  background-position: 10px 12px;
}

.swipebox-no-close-button #swipebox-close {
  display: none;
}

#swipebox-prev.disabled,
#swipebox-next.disabled {
  opacity: 0.3;
}

.swipebox-no-touch #swipebox-overlay.rightSpring #swipebox-slider {
  -webkit-animation: rightSpring 0.3s;
          animation: rightSpring 0.3s;
}
.swipebox-no-touch #swipebox-overlay.leftSpring #swipebox-slider {
  -webkit-animation: leftSpring 0.3s;
          animation: leftSpring 0.3s;
}

.swipebox-touch #swipebox-container:before, .swipebox-touch #swipebox-container:after {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: all .3s ease;
          transition: all .3s ease;
  content: ' ';
  position: absolute;
  z-index: 999;
  top: 0;
  height: 100%;
  width: 20px;
  opacity: 0;
}
.swipebox-touch #swipebox-container:before {
  left: 0;
  -webkit-box-shadow: inset 10px 0px 10px -8px #656565;
          box-shadow: inset 10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-container:after {
  right: 0;
  -webkit-box-shadow: inset -10px 0px 10px -8px #656565;
          box-shadow: inset -10px 0px 10px -8px #656565;
}
.swipebox-touch #swipebox-overlay.leftSpringTouch #swipebox-container:before {
  opacity: 1;
}
.swipebox-touch #swipebox-overlay.rightSpringTouch #swipebox-container:after {
  opacity: 1;
}

@-webkit-keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}

@keyframes rightSpring {
  0% {
    left: 0;
  }

  50% {
    left: -30px;
  }

  100% {
    left: 0;
  }
}
@-webkit-keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@keyframes leftSpring {
  0% {
    left: 0;
  }

  50% {
    left: 30px;
  }

  100% {
    left: 0;
  }
}
@media screen and (min-width: 800px) {
  #swipebox-close {
    right: 15px;
  }

  #swipebox-arrows {
    width: 92%;
    max-width: 800px;
  }
}
/* Skin 
--------------------------*/
#swipebox-overlay {
  background: #fff;
}

#swipebox-bottom-bar,
#swipebox-top-bar {
  text-shadow: 1px 1px 1px black;
  background: rgba(53, 52, 52, 0.25);
  opacity: 0.95;
}

#swipebox-top-bar {
  color: white !important;
  font-size: 15px;
  line-height: 43px;
  font-family: Helvetica, Arial, sans-serif;
}


