/*********************************************
  * Filename: style.css
  * Website: http://www.canmiquel.com/
  * Author: Sokvist
  * Author URI: http://www.sokvist.com
  * Date: 07/03/2016
  * Version: 1.0
*********************************************/


@import "reset.less";
@import "variables.less";
@import "mixins.less";


/*  General CSS */
body {
    font-family: 'Lato', sans-serif;
    color: #353434;
    background-color: #fff;
}

strong {
    font-weight: 700;
}

.wrapper{
	max-width: 1200px;
	height: auto;
	margin: 0 auto;
    position: relative;
}

.wrapper.center {
    text-align: center;
}

::selection {color:#ffffff;background:#353434;}
::-moz-selection {color:#ffffff;background:#353434;}

.feature a,
.cta a.cta_btn,
.testimonials #t_navigation a,
header .language ul li a,
header nav ul li a,
.billboard .caption .webcam,
footer .contact-info a,
.feature .ficon a img,
.info_details a,
.billboard .caption form input[type=submit] {
	transition: all .3s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}




/*  header  */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background: rgba(255, 255 ,255 ,0);
    border-top: 3px solid #ffd244;
    z-index: 9999;
    
    transition: all .2s linear;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-o-transition: all .3s linear;
}

header.scrolled {
    background: rgba(255, 255 ,255 ,1);
    border-top: 0;
    
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

header.fixed.fade-out {
    top: 0;
    height: 56px;
}

header .logo {
    float: left;
    margin-top: 20px;
    width: 160px;
    height: 38px;
    border-right: 1px solid rgba(53 ,52 ,52, 0.5);
    padding-right: 45px;
}

header.fixed.fade-out .logo {
    width: 111px;
    margin-top: 9px;
}

header nav {
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    z-index: 9999;
}

header.fixed.fade-out nav {
    margin-top: 8px;
}

header nav ul#nav {
    list-style: none;
}

header nav ul#nav li {
    float: left;
    margin-left: 1px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header.fixed.fade-out nav ul#nav li {
    font-size: 14px;
}

header nav ul#nav li:first-child {
    margin-left: 0;
}

header nav ul#nav li a {
    text-decoration: none;
    color: #353434;
    height: 80px;
    display: block;
    padding: 0 15px;
}

header nav ul#nav li a:hover,
header nav ul#nav li a:focus {
    color: #fff;
    background-color: #289bb0;
}

header nav ul#nav li.current-menu-item a {
    -webkit-box-shadow: inset 0 2px 0 0 #353434;
    box-shadow: inset 0 2px 0 0 #353434;
}

header nav ul#nav li.current-menu-item a:hover,
header nav ul#nav li.current-menu-item a:focus {
    color: #353434;
    background-color: transparent;
    cursor: default;
}

header .language {
    float: right;
}

header.fixed.fade-out .language {
    display: none;
}

header .language ul {
    float: right;
    list-style: none;
    margin-top: 23px;
    margin-right: 20px;
}

header .language ul li {
    float: left;
    margin-left: 10px;
}

header .language ul li a {
    font-weight: 400;
    display: block;
    color: #353434;
    border: 2px solid #353434;
    width: 31px;
    height: 31px;
    line-height: 31px;
    font-size: 12px;
    background: transparent;
    text-decoration: none;
    text-align: center;
}

header .language ul li.active a {
    display: none;
}

header .language ul li a:hover {
    border: 2px solid #289bb0;
    
    -webkit-box-shadow: 0 0 3px #289bb0;
    box-shadow: 0 0 3px #289bb0;
}

@media (max-width: 1148px) {
    header .logo {
        padding-right: 30px;
    }
    
    header nav {
        margin-left: 0;
    }
    
    header nav ul#nav li {
        letter-spacing: 0;
    }
    
    header nav ul#nav li a {
        padding: 0 11px;
    }
}


/* Main */
main {
    position: relative;
    background: rgba(255, 255, 255, 1);
    z-index: 2;
}

.fullmargin {
    margin-top: 100vh;
}

.halfmargin {
    margin-top: 50vh;
}


/*  Billboard */
.billboard {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(40, 155, 176, 0.5);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    z-index: 1;
}

.fullheight {
    height: 100vh;
}

.halfheight {
    height: 50vh;
}

/* IE hack */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    main {
    position: static;
    margin-top: 0;
}
    .billboard {
        position: relative;
        /*height: 100%;*/
    }
}

/* fix iOS bug not displaying 100vh correctly */
/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 768px;
    }
    .fullmargin {
		margin-top: 768px;
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
    .fullheight {
		height: 1024px;
    }
    .fullmargin {
		margin-top: 1024px;
	}
}
/* iphone5 */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 320px;
    }
    .fullmargin {
		margin-top: 320px;
	}
}
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2) {
	.fullheight {
		height: 568px;
    }
    .fullmargin {
		margin-top: 568px;
	}
}
/* iPhone 4 */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 320px;
    }
    .fullmargin {
		margin-top: 320px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
	.fullheight {
		height: 480px;
    }
    .fullmargin {
		margin-top: 480px;
	}
}


/* http://www.woothemes.com/flexslider/
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.flexslider {
  position: relative;
  top: 0;
}

.flexslider .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  /*background: rgba(0, 0, 0, 0.5);*/
  width: 100%;
  height: 100%;
    
    background: -moz-linear-gradient(top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0.1) 20%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.1) 20%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0.1) 20%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80ffffff', endColorstr='#00ffffff',GradientType=0 );
}



/*  Booking  */
.booking {
    position: absolute;
    width: 100%;
    height: 80px;
    margin-top: -80px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
    z-index: 999;
}

.booking a {
    transition: all .4s ease-in-out;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
}

.booking .caption {
    display: flex; 
    flex-direction: row; 
    -webkit-flex-direction: row; 
    flex-wrap: nowrap; 
    -webkit-flex-wrap: nowrap; 
    justify-content: center; 
    -webkit-justify-content: center; 
    align-items: flex-end;
    -webkit-align-items: flex-end;
    align-content: center; 
}

.flexbox-child {
    margin: 0;
    padding: 0;
    font-size: 120%;
    text-align: center;
}

.flexbox-child-item-1 {
    width: 25%;
    order: 0;
    -webkit-order: 0;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    -webkit-align-self: auto;
}

.flexbox-child-item-2 {
    width: 100%;
    max-width: 550px;
    height: 160px;
    margin-top: -80px;
    order: 0;
    -webkit-order: 0;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    -webkit-align-self: auto;
    /*background-color: coral;*/
    background: rgba(255, 255 ,255 ,1);
    
    transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
    
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
    
    -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.flexbox-child-item-2.noshadow,
.halfmargin .flexbox-child-item-2 {
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    transform: translateY(40px);
    
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 1px rgba(0,0,0,0.20);
    box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 1px rgba(0,0,0,0.20);
}

.flexbox-child-item-3 {
    width: 25%;
    order: 0;
    -webkit-order: 0;
    flex-grow: 0;
    -webkit-flex-grow: 0;
    flex-shrink: 0;
    -webkit-flex-shrink: 0;
    align-self: auto;
    -webkit-align-self: auto;
}

.flexbox-container { 
    display: flex; 
    flex-direction: row; 
    -webkit-flex-direction: row; 
    flex-wrap: nowrap; 
    -webkit-flex-wrap: nowrap; 
    justify-content: center; 
    -webkit-justify-content: center; 
    align-items: center; 
    -webkit-align-items: center; 
    align-content: center; 
}

.flexbox-child-2-item-1 {
    order: 0; 
    -webkit-order: 0; 
    flex-grow: 0; 
    -webkit-flex-grow: 0; 
    flex-shrink: 0; 
    -webkit-flex-shrink: 0; 
    align-self: auto; 
    -webkit-align-self: auto;
}

.flexbox-child-2-item-2 { 
    order: 0; 
    -webkit-order: 0; 
    flex-grow: 0; 
    -webkit-flex-grow: 0; 
    flex-shrink: 0; 
    -webkit-flex-shrink: 0; 
    align-self: auto; 
    -webkit-align-self: auto;
}

.flexbox-child-2 { 
    width: 50%; 
    text-align: center; 
}

.booking .caption .webcam,
.booking .caption .googlemap,
.booking .caption .follow,
.booking .caption .subscribe {
    font-weight: 400;
    font-size: 14px;
    color: #353434;
    display: block;
    height: 80px;
    line-height: 80px;
    text-decoration: none;
    text-align: center;
}

.booking .caption .webcam:after,
.booking .caption .googlemap:after,
.booking .caption .follow:after {
    content: "";
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0px 0 -10px 5px; 
}

.booking .caption .webcam:after {
    background-image: url("../images/ios-videocam.svg");
}

.booking .caption .googlemap:after {
    background-image: url("../images/ios-location.svg");
}

.booking .caption .follow:after {
    background-image: url("../images/more-vertical.svg");
}

.booking .caption .webcam:hover {
    background-color: #ffd244;
}

.booking .caption .googlemap:hover {
    background-color: #289bb0;
}

.booking .caption .subscribe:hover,
.booking .caption .follow:hover {
    background-color: rgba(255, 255, 255, 1);
}

.booking .caption form {
    color: #353434;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 6px 0 10px;
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
    z-index: 8888;
}

.booking .caption form input {
    border: 2px solid #353434;
    background-color: transparent;
    padding: 0 7px;
    width: 18%;
    border-radius: 0;
    margin-right: 10px;
    height: 33px;
    line-height: 33px;
}

.booking .caption form input[type=submit] {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #ffd244;
    background-color: #353434;
    width: auto;
    border: 2px solid #353434;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 14px;
    -webkit-appearance: none;
    border-radius: 0;
    height: 37px;
    line-height: 33px;
    padding: 0 15px;
    
    transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
}

.booking .caption form input[type=submit]:hover,
.booking .caption form input[type=submit]:focus {
    background-color: #ffd244;
    border-color: #ffd244;
    color: #353434;
}

.booking .caption form img {
    position: absolute;
    margin-left: -40px;
    margin-top: 20px;
}

.booking .book {
    display: inline-flex;
    width: 90%;
}

.booking .book-online {
    margin-top: 15px;
    width: 50%;
    text-align: left;
}

.booking ul.book-contact {
    display: inline-block;
    width: 50%;
    list-style: none;
    margin: 5px auto;
}

.booking ul.book-contact li {
    float: right;
    margin-left: .5em;
    margin-right: .5em;
    font-size: .85em;
}

.booking ul.book-contact li a {
    text-decoration: none;
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px 25px;
}

.booking ul.book-contact li a.phone {
    background-image: url('../images/ios-telephone.svg');
}

.booking ul.book-contact li a.email {
    background-image: url('../images/ios-email.svg');
}

.booking ul.book-contact li a:hover,
.booking ul.book-contact li a:focus {
    background-color: #289bb0;
}

.booking ul.book-contact li a span {
    display: none;
}

.booking .getmore {
    display: block;
    background-color: #f7f7f7;
    border-top: 1px #dedede solid;
    padding: 11px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
}

.booking .getmore:hover {
    color: #fff;
    background-color: #289bb0;
}

.booking .book-btn {
    display: none;
}

.booking ul.social {
    display: inline-block;
    list-style: none;
    margin: 20px auto;
    float: left;
}

.booking ul.social li {
    float: left;
    margin-left: 10px;
}

@media (max-width: 960px) {
    .booking {
        height: auto;
        margin-top: -160px;
    }
    
    .booking .caption {
        display: block;
    }

    .flexbox-child-item-1 {
        width: 100%;
    }
    
    .noflexbox {
        display: flex;
        width: 100%;
        height: 0;
        background-color: chocolate;
        justify-content: center;
    }

    .flexbox-child-item-2 {
        display: block;
        float: right;
        width: 100%;
        margin-top: -250px;
        
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    .flexbox-child-item-2.noshadow {
        -webkit-transform: translateY(18px);
        -moz-transform: translateY(18px);
        transform: translateY(18px);
    }

    .flexbox-child-item-3 {
        width: 100%;
    }

}

@media (max-width: 600px) {
    
    .booking .flexbox-child-item-2 {
        display: none;
    }
    
    .booking .book-btn {
        display: block;
        width: 90%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        margin-top: -140px;
        color: @yellow;
        background-color: @black;
        
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 1px rgba(0,0,0,0.20);
        box-shadow: 0 1px 2px rgba(0,0,0,0.10), 0 1px 1px rgba(0,0,0,0.20);
    }
    
    .booking .book-btn:hover,
    .booking .book-btn:focus {
        color: @black;
        background-color: @yellow;
    }
    
}



/*  Intro Section  */
.intro {
    display: block;
    text-align: center;
    padding-top: 140px;
    margin-bottom: 0;
}

.intro h1 {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    line-height: 1.5;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.intro h2 {
    color: #7f7c7c;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    line-height: 2;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.intro p {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 2;
    margin-top: 20px;
    padding-bottom: 40px;
}

.totem {
    width: 90%;
    margin: 0 auto;
}

.totem ul {
    list-style-type: none;
    display: inline-block;
    margin: 1em auto 2em;
}

.totem ul li {
    display: inline-block;
    margin: 0.350em;
}

.totem a {
    border: solid 1px #dedede;
    padding: 0.250em;
    line-height: 0;
    background-color: @white;
}

.totem svg {
    width: 33px;
    height: 33px;
}




/*  Services/features  */
.features {
    width: 100%;
    padding-top: 100px;
    background: #f7f7f7;
    overflow: hidden;
}

.features .feature {
    display: block;
    width: 28.83333333333333%;
    height: auto;
    float: left;
    margin-right: 6.666666666666667%;
    margin-bottom: 100px;
}

.features .feature:nth-child(3n+0) {
    margin-right: 0;
}

.feature .ficon {
    display: block;
    width: 25.78612716763006%;
    float: left;
    margin-right: 11.5606936416185%;
}

.feature .ficon a img {
    border: 1px solid #e8e8e8;
    border-radius: 50%;
}

.feature .ficon a img:hover {
    opacity: 0.7;
    border-color: #353434;
}

.feature .details_exp {
    display: block;
    width: 62.36416184971098%;
    float: left;
}

.feature h3 {
    margin-bottom: 20px;
    color: #767575;
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

.feature h3 a {
    color: #289bb0;
    text-decoration: none;
}

.feature h3 a:hover {
    color: #353434;
}

.feature p {
    margin-bottom: 20px;
    color: #9e9e9e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}

.feature a span {
    font-family: arial;
    margin-left: 10px;
}



/*  Testimonials  */
.testimonials {
    text-align: center;
}

.testimonials h2 {
    color: #4e4e4e;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.testimonials .slider {
    padding-bottom: 60px;
}

.testimonials p {
    color: #8e8d8d;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.testimonials p.author {
    color: #686767;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
}

.testimonials #t_navigation a { 
    width: 13px;
    height: 13px;
    background: #dadada;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 40px;

    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 140px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 12px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 16px;
    height: 16px;
    display: block;
    background: rgba(53, 52, 52, 0.5);
    cursor: pointer;
    text-indent: -9999px;
    border: 1px solid rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    outline: none;

    -webkit-transition: -webkit-transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.flex-control-paging li a:hover,
.flex-control-paging li a:focus {
    background: rgba(53, 52, 52, 0.7);
}

.flex-control-paging li a.flex-active {
    background: rgba(53, 52, 52, 0.9);
    cursor: default;
    
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}



.sep_line {
    display: block;
    width: 13.5px;
    height: 100px;
}

.sep_line:after {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background: #dedede;
    margin: 0 auto;
}

.sep_top {
    border-bottom: 1px #dedede solid;
    margin: 0 auto 40px auto;
}

.sep_bottom {
    border-top: 1px #dedede solid;
    margin: 40px auto 0 auto;
}




/*  Info Section  */
.info {
    width: 100%;
    overflow: hidden;
    background: #3b3b3b;
    font-size: 0;
}


.square-box {
    font-size: 1rem;
    position: relative;
    display: inline-block;
    width: 100%;
    background: #353434;
    line-height: 1.7;
}

/*.square-box:nth-child(odd) {
   background: #353434;
}
            
.square-box:nth-child(2) {
   background: #353434;
}
            
.square-box:nth-child(3) {
   background: #353434;
}

.square-box:nth-child(4) {
   background: #353434;
}*/
            
.square-box:nth-child(5) {
   background: #289bb0;
}
            
/*.square-box:nth-child(6) {
   background: #e8e8e8;
}
            
.square-box:nth-child(7) {
   background: #e8e8e8;
}
            
.square-box:nth-child(8) {
   background: #e8e8e8;
}*/

.square-box:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
	overflow: hidden;
}

.square-content.with-border {
    border: 1px solid #e8e8e8;
    margin: 4px;
}

.square-content .square-table {
   display: table;
   width: 100%;
   height: 100%;
}

.square-content .info_details {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    padding: 0 1em;
}

figure .square-content .info_details {
    padding: 0;
}

figure .square-content .info_details img {
    max-width: 100.25%;
}



/* Hover effect */
.info figure img.slide-img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.9;
}

.info figure figcaption {
	padding: 2em;
	color: #fff;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.info figure figcaption::before,
.info figure figcaption::after {
	pointer-events: none;
}

.info figure figcaption,
.info figure figcaption > a,
.video-bg > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.info figure figcaption > a,
.video-bg > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.info figure h3 {
    font-size: 30px;
	word-spacing: 1px;
	font-weight: 700;
}

.info figure h3,
.info figure p {
	margin: 0;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.info figure p {
	font-weight: 400;
	font-size: 80%;
    max-width: 75%;
}

/* Individual effects */

/*---------------*/
/***** Lily *****/
/*---------------*/

figure.effect-lily img.slide-img {
	max-width: none;
	width: ~"-webkit-calc(100% + 30px)";
	width: ~"calc(100% + 30px)";
	opacity: 0.8;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.6s, transform 0.6s;
	-webkit-transform: translate3d(-20px,0, 0);
	transform: translate3d(-20px,0,0);
}

figure.effect-lily figcaption {
	text-align: left;
}

figure.effect-lily figcaption > div {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 2em;
	width: 100%;
	height: 50%;
}

figure.effect-lily h3,
figure.effect-lily p {
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-lily h3 {
    text-transform: uppercase;
	-webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

figure.effect-lily p {
	color: rgba(255,255,255,1);
	opacity: 0;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.6s;
	transition: opacity 0.4s, transform 0.6s;
}

figure.effect-lily:hover img.slide-img,
figure.effect-lily:hover p {
	opacity: 1;
}

figure.effect-lily:hover img.slide-img,
figure.effect-lily:hover h3,
figure.effect-lily:hover p {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-lily:hover p {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
	-webkit-transition-duration: 0.35s;
	transition-duration: 0.35s;
}


/*---------------*/
/***** Bubba *****/
/*---------------*/
figure.effect-bubba img {
	opacity: 0.4;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.9;
}

figure.effect-bubba figcaption {
    padding: 0;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 3px;
	right: 3px;
	bottom: 3px;
	left: 3px;
	content: '';
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
    -webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba h3 {
    text-transform: uppercase;
	padding-top: 30%;
    text-align: center;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-bubba p {
	padding: 20px 1.5em;
    text-align: center;
    max-width: 100%;
	opacity: 1;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 0.5;
}

figure.effect-bubba:hover figcaption::before {
    -webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba:hover figcaption::after {
    -webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba:hover h3 {
    opacity: 1;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
}

figure.effect-bubba:hover p {
    opacity: 0;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}


/* Awesome weather */
.awesome-weather-wrap {
    font-weight: 400;
    text-align: center;
    color: #fff;
}

.awesome-weather-header {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    margin-bottom: 0;
    padding: 0;
    text-transform: uppercase;
}

.awesome-weather-current-temp {
    font-size: 7em;
    font-weight: 300;
    line-height: 1;
}

.awesome-weather-current-temp strong,
.awesome-weather-current-temp sup {
    /*font-size: 0.5em;*/
    font-weight: 300;
}

.awesome-weather-todays-stats {
    font-weight: 300;
    font-size: 1em;
}

.awesome-weather-attribution {
    display: none;
}


/* Video */
#video-viewport,
#img-viewport {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99;
}

.touch #video-viewport {
    display: none;
}

.no-touch #img-viewport {
    display: none;
}

video,
#img-viewport img {
    display: block;
    width: auto;
    height: 100%;
}

.video-bg {
    height: 100%;
    overflow: hidden;
}

.video-bg:before {
    content: "";
    background: rgba(40, 155, 176, .15);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

.video-bg .inner {
    display: table;
    width: 100%;
    max-width: 24em;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
    z-index: 1000;
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.video-bg .inner > div {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding: 0 2em;
}

.video-bg .inner > div h3 {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3.333333333333333% 0;
    letter-spacing: 1px;
    line-height: 26px;
    border: 2px solid #fff;
    display: inline-block;
    padding: 10px;
    
    transition: all .5s ease-in-out;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
}

.video-bg:hover .inner > div h3 {
    opacity: 0.5;
    text-shadow: none;
    
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    transform: translateY(-3px);
}



@media only screen and (min-width: 768px) {
	.square-box { width: 50%; }
}

/*@media only screen and (min-width: 1024px) {
	.square-box { width: 33.3334%; }
}*/

@media only screen and (min-width: 1025px) {
	.square-box { width: 25%; }
}



.info_details h3 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 3.333333333333333% 0;
    letter-spacing: 1px;
    line-height: 40px;
}

.info_details p {
    color: #ededed;
    font-weight: 300;
    font-size: 16px;
    margin: 0 0 .75em;
    padding: 0 .5em;
}

.info_details a {
    color: #fff;
    color: #289bb0;
    font-weight: 400;
    font-size: 16px;
    margin: 10px 0 0 0;
    text-decoration: none;
    display: inline-block;
    border: 2px solid #289bb0;
    width: auto;
    height: 33px;
    line-height: 33px;
    text-transform: uppercase;
    padding: 0 10px;
}

.info_details a:hover {
    color: #3b3b3b;
    background: #289bb0;
}




/*  Call To Action Section  */
.cta {
    display: block;
    text-align: center;
    padding-top: 100px;
}

.cta h3 {
    color: #6b6b6b;
    font-family: 'Lato', sans-serif;
    font-size: 34px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.cta p {
    color: #7f7c7c;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin-top: 20px;
    letter-spacing: .5px;
}

.cta a.cta_btn {
    display: inline-block;
    padding: 20px 60px;
    background-color: #65bf95;
    background-color: #289bb0;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    margin-top: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;

    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}

.cta a.cta_btn:hover {
    background: #353434;
}

.cta .cta_sep {
    display: block;
    width: 1px;
    height: 100px;
    background: #dedede;
    margin: 0 auto;
}



/**
 * Material Modal CSS
 */
.modal {
  will-change: visibility, opacity;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal--active {
  visibility: visible;
  opacity: 1;
}

.modal--align-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal__bg {
  background: rgba(232, 232, 232, .75);
}

.modal__dialog {
  max-width: 900px;
}

.modal__content {
  will-change: transform, opacity;
  position: relative;
  padding: 2.4rem;
  background: #f7f7f7;
  background-clip: padding-box;
  box-shadow: 0 12px 15px 0 rgba(0,0,0,0.25);
  opacity: 0;
  -webkit-transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.25s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__content h2 {
    color: #7f7c7c;
    font-size: 24px;
    line-height: 2;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: 700;
}

.modal__content p {
    color: #353434;
    font-weight: 300;
    font-size: 18px;
    line-height: 2;
    margin: 2em 0;
}

.modal__content--active {
  opacity: 1;
}
.modal__close {
  z-index: 1100;
  cursor: pointer;
}

.modal__trigger {
  position: relative;
  display: inline-block;
  padding: 1.2rem 2.4rem;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: #f7f7f7;
    box-shadow: none;
  /*box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger-small {
  position: relative;
  display: inline-block;
  padding: 0;
  color: rgba(0,0,0,0.7);
  line-height: 1;
  cursor: pointer;
  background: transparent;
  box-shadow: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.modal__trigger--active {
  z-index: 1010;
}
.modal__trigger:hover {
  background: #e8e8e8;
}

.modal__trigger-small:hover {
  /*background: transparent;*/
}

#modal__temp {
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #f7f7f7;
  -webkit-transform: none;
          transform: none;
  opacity: 1;
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: opacity 0.1s ease-out, transform 0.4s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.cross-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  padding: 0.6rem;
  background: rgba(0,0,0,0.3);
  border-radius: 50%;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.cross-close svg {
  width: 24px;
  fill: #fff;
  pointer-events: none;
  vertical-align: top;
}
.cross-close:hover {
  background: rgba(0,0,0,0.6);
}



/*  Footer  */
footer {
    position: relative;
    padding: 100px 0;
    border-top: 1px #dedede solid;
    background: #f7f7f7;
    text-align: center;
    z-index: 3;
}

footer .wrapper-footer {
    padding: 0 3em;
}

footer .contact-info {
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
}

footer .contact-info a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #3b3b3b;
}

footer .contact-info a:hover,
footer .contact-info a:focus {
    color: #289bb0;
}

footer .contact-info a.googlemap-small svg {
    .transition04;
    -webkit-transform: scale(1);
	transform: scale(1);
}

footer .contact-info a.googlemap-small:hover svg,
footer .contact-info a.googlemap-small:focus svg {
    -webkit-transform: scale(1.5);
	transform: scale(1.5);
}

footer .rights {
    color: #3b3b3b;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12px;
    margin-top: 40px;
    line-height: 25px;
}

footer .rights a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    color: #3b3b3b;
}

footer .rights a,
footer span {
    margin: 0 1em;
}

footer ul.social {
    /*float: right;*/
    display: inline-block;
    list-style: none;
    margin-top: 23px;
}

footer ul.social li {
    float: left;
    margin-left: 10px;
}



ul.social li a {
    display: block;
    width: 35px;
    height: 35px;
    border: 2px solid rgba(53, 52, 52, 1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    
    -webkit-transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

ul.social li a.email {
    border: 2px solid transparent;
    background-image: url(../images/ios-list.svg);
    background-size: 33px 33px;
    background-position: center center;
    background-repeat: no-repeat;
}

ul.social li a.facebook {
    background-image: url(../images/social-facebook.svg);
}

ul.social li a.twitter {
    background-image: url(../images/social-twitter.svg);
}

ul.social li a.pinterest {
    background-image: url(../images/social-pinterest.svg);
}

ul.social li a.instagram {
    background-image: url(../images/social-instagram.svg);
}

ul.social li a.facebook:hover,
.cs-options ul li a.facebook:hover {
    border-color: rgba(59, 89, 152, 1);
    -webkit-box-shadow: 0 0 3px rgba(59, 89, 152, 1);
    box-shadow: 0 0 3px rgba(59, 89, 152, 1);
}

ul.social li a.twitter:hover,
.cs-options ul li a.twitter:hover {
    border-color: rgba(0, 172, 237, 1);
    -webkit-box-shadow: 0 0 3px rgba(0, 172, 237, 1);
    box-shadow: 0 0 3px rgba(0, 172, 237, 1);
}

ul.social li a.pinterest:hover,
.cs-options ul li a.pinterest:hover {
    border-color: rgba(203, 32, 39, 1);/* #cb2027 */
    -webkit-box-shadow: 0 0 3px rgba(203, 32, 39, 1);
    box-shadow: 0 0 3px rgba(203, 32, 39, 1);
}

ul.social li a.instagram:hover,
.cs-options ul li a.instagram:hover {
    border-color: rgba(81, 127, 164, 1);/* #517fa4 */
    -webkit-box-shadow: 0 0 3px rgba(81, 127, 164, 1);
    box-shadow: 0 0 3px rgba(81, 127, 164, 1);
}

ul.social li a.email:hover {
    border: 2px solid transparent;
}


/* Form */
.contact-form {
    
    form {
        margin: 2.5em 0 4em;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    select,
    textarea {
        -moz-appearance: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 0;
        border: none;
        border: solid 1px #dedede;
        color: inherit;
        display: block;
        outline: 0;
        padding: 0 1em;
        text-decoration: none;
        width: 50%;
        margin: -10px auto 0;
        .transition03;
    }

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    select:invalid,
    textarea:invalid {
        box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    select:focus,
    textarea:focus {
        border-color: #353434;
        box-shadow: 0 0 0 1px #353434;
    }

    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="submit"],
    select {
        height: 2.75em;
    }

    textarea {
        padding: 0.75em 1em;
    }
    
    input[type="submit"] {
        border: 2px solid #353434;
        border-radius: 0;
        padding: 0 3em;
        text-transform: uppercase;
        font-weight: 700;
        background-color: transparent;
        cursor: pointer;
        .transition03;
    }
    
    input[type="submit"]:hover,
    input[type="submit"]:focus {
        background-color: #353434;
        color: @white;
    }

    ::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    :-moz-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    ::-moz-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    :-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }

    .formerize-placeholder {
        color: rgba(255, 255, 255, 0.35) !important;
        opacity: 1.0;
    }
    
}

@media (max-width: 600px) {
    .contact-form {
        input[type="text"],
        input[type="password"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 80%;
        }
    }
}


/* Back to Top */

#back-to-top {
	display: block;
	background-color: @black25;
	margin: 0;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 50px;
	height: 50px;
	z-index: 99;
	.transition03;
}

#back-to-top:hover,
#back-to-top:focus {
	background-color: @black;
}

#back-to-top:before {
	font-size: 18px;
	color: #FFFFFF;
	line-height: 50px;
    display: inline-block;
    content: '\25b2';
}




// Responsive & Plugins
// ---------------------------------------------------------------------------
@import "pages.less";
@import "plugins.less";
@import "responsive.less";

