/*! Variables */
// ==========================================================================

// Colors
//============
/* Coolors Exported Palette - coolors.co/353434-289bb0-ffd244-e8e8e8-ffffff */
@black: #353434; //rgba(53, 52, 52, 1)
@black-lighter: #6b6b6b; //rgba(107, 107, 107, 1)
@blue: #289bb0; //rgba(40, 155, 176, 1)
@yellow: #ffd244; //rgba(255, 210, 68, 1)
@grey: #f7f7f7; //rgba(247, 247, 247, 1)
@grey-darker: #dedede; //rgba(222, 222, 222, 1)
@white: #ffffff; //rgba(255, 255, 255, 1)


@black: rgba(53, 52, 52, 1);
@black25: rgba(53, 52, 52, 0.25);
@black50: rgba(53, 52, 52, 0.5);
@black75: rgba(53, 52, 52, 0.75);

@facebook: rgba(59, 89, 152, 1);
@twitter: rgba(0, 172, 237, 1);
@google: rgba(211, 72, 54, 1);
@email: rgba(210, 210, 210, 1);

// Typography


