/*! Responsive */
// ===========================================================================================

@media (max-width: 1200px){
    .wrapper-header {
        padding: 0 20px;
        height: 0;
    }
    
    .intro {
        padding-top: 80px;
        padding-right: 2em;
        padding-left: 2em;
    }
    
    .after {
        padding-right: 2em;
        padding-left: 2em;
    }
    
    .testimonials {
        padding: 0 2em;
    }
    
    .info_pic,
    .info_details{
        width: 100%;
    }

    .info_details h3,
    .info_details p,
    .info_details a {
        font-size: 95%;
    }
    
    .info_details a {
        max-width: 200px;
    }
}


@media (max-width: 1000px){
    .billboard .caption{
        /*text-align: center;*/
        margin-left: 0;
        margin-top: 420px;
        display: inline-block;
    }
    
    .billboard .caption form {
        width: 100%;
    }
    
    .cta{
        width: 80%;
        margin: 0 auto;
    }
}


@media (max-width:1024px) {
    header .logo {
        float: none;
        border-right: 0;
        padding-right: 0;
    }
    
    .hamburger {
        display: inline-block;
    }

    header nav {
        background: @white;
        margin: 25px 0 0 0;
        padding: 0;
        border-left: 0;
        border-top: 1px #2c2c2c solid;
        overflow: hidden;
        text-align: center;
        position: relative;
        z-index: 9999;
        display: block;
        height: auto;
        opacity: 0;
        
        -webkit-transform: translate3d(100%, 0, 0);
	   transform: translate3d(100%, 0, 0);
        
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    header nav.show_menu {
        opacity: 1;
        display: block;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        
        -webkit-transform: translate3d(0, 0, 0);
	   transform: translate3d(0, 0, 0);
    }
    
    header .language ul {
        margin-top: 5px;
        margin-right: 7px;
        margin-bottom: 10px;
    }
    
    header nav ul#nav li {
        margin: 0;
        width: 100%;
        height: 60px;
        border-bottom: 1px #2c2c2c solid;
    }
    
    header nav ul#nav li:last-child{
        border-bottom: 0;
    }
    
    header nav ul#nav li a {
        display: block;
        width: 100%;
        padding: 0;
        height: 60px;
        line-height: 60px;
    }
    
    header nav ul#nav li a:active {
        display: block;
        width: 100%;
        padding: 0;
        background: #2c2c2c;
    }
}

@media (max-width: 800px){
    .features .feature{
        width: 46.66666666666667%;
        margin-right: 6.666666666666667%!important;
    }
    .features .feature:nth-child(2n+2)
    {
        margin-right: 0!important;
    }
}

@media (max-width: 500px){

    .features .feature{
        width: 100%;
        margin-right: 0!important;
    }

}

@media (max-height: 640px) {
    .halfmargin {
        margin-top: 70vh;
    }
    
    .halfheight {
        height: 70vh;
    }
}

